body {
    margin: 0;
    overflow: hidden;
    color: #fff;
    font-family: "DotGothic16", sans-serif;
    text-align: center;
    position: relative;
}
/* make text terms appear normal size now, but text can't appear on right size*/
canvas {
    display: block;
    height: 90%;
    width: 100%;
    background-color: none;
}
#typingBar {
    position: absolute;
    bottom: 140px;
    left: 50%;
    transform: translateX(-50%);
}
input {
    position: relative; 
    font-size: 16px;
    width: 300px;
    padding: 10px;
    margin-bottom: 30px;
}
/*
#inputHistory {
    font-size: 16px;
    margin-top: 20px;
}
*/